# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("../WeatherPy/Output_data/cities.csv")
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Camalú,30.8500,-116.0667,13.33,56,21,4.92,MX,1614826703
1,Busselton,-33.6500,115.3333,25.36,67,44,4.14,AU,1614826616
2,Hobart,-42.8794,147.3294,22.00,24,20,11.32,AU,1614826473
3,Rikitea,-23.1203,-134.9692,27.02,78,74,3.15,PF,1614826612
4,Ambilobe,-13.2000,49.0500,23.21,94,42,0.53,MG,1614826703

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [ ]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [36]:
# Store 'Lat' and 'Lng' into  locations 
locations = cities_df[["Lat", "Lng"]].astype(float)

#weatherdf = weatherdf.dropna()

hum_rate = cities_df["Humidity"].astype(float)

In [37]:
# Create a poverty Heatmap layer
fig = gmaps.figure(center=(48.0, 0.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=hum_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1, opacity=1)

fig.add_layer(heat_layer)

plt.savefig("Images/vacationheatmap.png")
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [26]:
first = cities_df.loc[cities_df["Max Temp"]<80,:]
second = first.loc[first["Max Temp"]>10,:]
second.head()

#Wind speed less than 10 mph.
third = second.loc[second["Wind Speed"]<10,:]
third

#Zero cloudiness.
fourth = third.loc[third["Cloudiness"]==0,:]
fourth.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,Najrān,17.4924,44.1277,17.00,29,0,2.06,SA,1614826704
7,Constitución,-35.3333,-72.4167,17.59,67,0,3.85,CL,1614826704
47,Lüderitz,-26.6481,15.1594,19.79,62,0,5.65,NaN,1614826710
56,Lebu,-37.6167,-73.6500,16.03,84,0,6.97,CL,1614826711
58,Medininagar,24.0333,84.0667,25.34,16,0,2.03,IN,1614826452

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [27]:
hotel_df = pd.DataFrame()
fifth = pd.DataFrame(fourth)
hotel_df['City'] = fifth['City']
hotel_df['Country'] = fifth['Country']
hotel_df['Lat'] = fifth['Lat']
hotel_df['Lng'] = fifth['Lng']
#hotel_df['Hotel Name'] = ""
hotel_df.head()

            City Country      Lat      Lng
5         Najrān      SA  17.4924  44.1277
7   Constitución      CL -35.3333 -72.4167
47      Lüderitz     NaN -26.6481  15.1594
56          Lebu      CL -37.6167 -73.6500
58   Medininagar      IN  24.0333  84.0667

In [31]:
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    latitude = row['Lat']
    longitude = row['Lng']
    city = row['City']
    country = row['Country']

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={latitude},{longitude}&radius=5000&type=hotel&key={g_key}").json()
    
    # extract results
    results = response['results']
    
    try:
        hotelname = response['results'][7]['name']
        print(f"Closest hotel to {city} at {latitude} , {longitude} is {hotelname}.")
        
        hotel_df.loc[index, "Hotel Name"] = hotelname
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 5: Najrān.
Closest hotel to Najrān at 17.4924 , 44.1277 is ماكينة صراف آلي الاهلي.
------------
Retrieving Results for Index 7: Constitución.
Closest hotel to Constitución at -35.3333 , -72.4167 is Riveradelmaule.
------------
Retrieving Results for Index 47: Lüderitz.
Closest hotel to Lüderitz at -26.6481 , 15.1594 is Kratzplatz.
------------
Retrieving Results for Index 56: Lebu.
Closest hotel to Lebu at -37.6167 , -73.65 is La Caleta Delivery.
------------
Retrieving Results for Index 58: Medininagar.
Closest hotel to Medininagar at 24.0333 , 84.0667 is Axis Bank ATM.
------------
Retrieving Results for Index 62: Doha.
Closest hotel to Doha at 25.2867 , 51.5333 is La Villa Palace Hotel.
------------
Retrieving Results for Index 71: Hurghada.
Closest hotel to Hurghada at 27.2574 , 33.8129 is Hurghada Dreams Hotel Apartment.
------------
Retrieving Results for Index 96: Hobyo.
Closest hotel to Hobyo at 5.3505 , 48.5268 is Almubarak Farsamo.
------------
Retrieving Results for Index 103: Saint-Philippe.
Closest hotel to Saint-Philippe at -21.3585 , 55.7679 is BM FROID CLIMAT.
------------
Retrieving Results for Index 112: Marzuq.
Closest hotel to Marzuq at 14.4 , 46.4667 is تموينات وادي عبدان.
------------
Retrieving Results for Index 124: Buraidah.
Closest hotel to Buraidah at 26.326 , 43.975 is دلفن.
------------
Retrieving Results for Index 168: Ancud.
Closest hotel to Ancud at -41.8697 , -73.8203 is Hostal Alto Bellavista.
------------
Retrieving Results for Index 183: Guerrero Negro.
Closest hotel to Guerrero Negro at 27.9769 , -114.0611 is Sedena 40 Z.M.
------------
Retrieving Results for Index 187: Kruisfontein.
Closest hotel to Kruisfontein at -34.0033 , 24.7314 is Marquee Tent Events.
------------
Retrieving Results for Index 197: Kumluca.
Closest hotel to Kumluca at 36.3703 , 30.2869 is Meşeci Market.
------------
Retrieving Results for Index 207: Baní.
Closest hotel to Baní at 18.2833 , -70.3333 is Municipal council of Baní.
------------
Retrieving Results for Index 209: Portland.
Closest hotel to Portland at 45.5234 , -122.6762 is Mark Spencer Hotel.
------------
Retrieving Results for Index 213: Abhā.
Closest hotel to Abhā at 18.2164 , 42.5053 is Reconciling residential units.
------------
Retrieving Results for Index 231: Faya.
Closest hotel to Faya at 18.3851 , 42.4509 is Police Station.
------------
Retrieving Results for Index 242: Copiapó.
Closest hotel to Copiapó at -27.3667 , -70.3333 is Hotel Cumbres de Atacama.
------------
Retrieving Results for Index 243: Adelaide.
Closest hotel to Adelaide at -34.9333 , 138.6 is Stamford Plaza Adelaide.
------------
Retrieving Results for Index 248: Dhārūr.
Closest hotel to Dhārūr at 18.8167 , 76.1167 is State Bank Of India.
------------
Retrieving Results for Index 275: Broken Hill.
Closest hotel to Broken Hill at -31.95 , 141.4333 is The Grand Guest House.
------------
Retrieving Results for Index 277: Xicoténcatl.
Closest hotel to Xicoténcatl at 23.0167 , -98.8833 is ESCUELA PRIMARIA IGNACIO MANUEL ALTAMIRANO.
------------
Retrieving Results for Index 278: Umluj.
Closest hotel to Umluj at 25.0213 , 37.2685 is تحويل الراجحي.
------------
Retrieving Results for Index 281: Diego de Almagro.
Closest hotel to Diego de Almagro at -26.3667 , -70.05 is BancoEstado - Sucursal Diego de Almagro.
------------
Retrieving Results for Index 292: Abu Kamal.
Closest hotel to Abu Kamal at 34.4506 , 40.9171 is مدرسة القادسية.
------------
Retrieving Results for Index 296: Nioro.
Missing field/result... skipping.
------------
Retrieving Results for Index 309: Sorong.
Closest hotel to Sorong at -0.8833 , 131.25 is UD PIALA.
------------
Retrieving Results for Index 310: Itapetinga.
Closest hotel to Itapetinga at -15.2489 , -40.2478 is Rádio Fascinação.
------------
Retrieving Results for Index 312: Richards Bay.
Closest hotel to Richards Bay at -28.783 , 32.0377 is Galaxy - Richards Bay.
------------
Retrieving Results for Index 318: Tura.
Closest hotel to Tura at 25.5198 , 90.2201 is State Bank of India.
------------
Retrieving Results for Index 335: Chilca.
Closest hotel to Chilca at -12.5211 , -76.7372 is Multiservicios Johnson & DKM EIRL.
------------
Retrieving Results for Index 340: Sayyan.
Closest hotel to Sayyan at 15.1718 , 44.3244 is بحيره سد سيان.
------------
Retrieving Results for Index 346: Quebo.
Missing field/result... skipping.
------------
Retrieving Results for Index 350: Mmathubudukwane.
Closest hotel to Mmathubudukwane at -24.6 , 26.4333 is Clinic.
------------
Retrieving Results for Index 356: Bubaque.
Closest hotel to Bubaque at 11.2833 , -15.8333 is guest house playa veloude.
------------
Retrieving Results for Index 370: Doka.
Closest hotel to Doka at 13.5167 , 35.7667 is بقالة وطن.
------------
Retrieving Results for Index 397: San Rafael.
Closest hotel to San Rafael at -34.6177 , -68.3301 is Apart Hotel y Spa Colorina.
------------
Retrieving Results for Index 402: Walvis Bay.
Closest hotel to Walvis Bay at -22.9575 , 14.5053 is Horus Guesthouse.
------------
Retrieving Results for Index 412: Edd.
Missing field/result... skipping.
------------
Retrieving Results for Index 418: Henties Bay.
Closest hotel to Henties Bay at -22.116 , 14.2845 is Shoprite LiquorShop Henties Bay.
------------
Retrieving Results for Index 422: Nizwá.
Closest hotel to Nizwá at 22.9333 , 57.5333 is Bank Dhofar.
------------
Retrieving Results for Index 424: Ormara.
Closest hotel to Ormara at 25.2088 , 64.6357 is Saloon.
------------
Retrieving Results for Index 433: Los Llanos de Aridane.
Closest hotel to Los Llanos de Aridane at 28.6585 , -17.9182 is Hotel Hacienda de Abajo.
------------
Retrieving Results for Index 434: Minbu.
Closest hotel to Minbu at 20.1833 , 94.8833 is AGD Bank.
------------
Retrieving Results for Index 442: Renqiu.
Closest hotel to Renqiu at 38.6989 , 116.0936 is Adidas.
------------
Retrieving Results for Index 450: Kavaratti.
Closest hotel to Kavaratti at 10.5669 , 72.642 is LAKSHADWEEP ADMINISTRATOR'S OFFICE.
------------
Retrieving Results for Index 452: Saint-Pierre.
Closest hotel to Saint-Pierre at -21.3393 , 55.4781 is Villa Morgane.
------------
Retrieving Results for Index 471: Praia.
Closest hotel to Praia at 14.9215 , -23.5087 is Pensão Benfica.
------------
Retrieving Results for Index 476: Axum.
Closest hotel to Axum at 14.1245 , 38.7244 is Ethiopis Hotel Aksum - ኢትዮጲስ ሆቴል.
------------
Retrieving Results for Index 487: Riyadh.
Closest hotel to Riyadh at 24.6877 , 46.7219 is بودل.
------------
Retrieving Results for Index 489: Sakakah.
Closest hotel to Sakakah at 29.9697 , 40.2064 is Hisham bin Abdul Malik Primary School.
------------
Retrieving Results for Index 494: Coahuayana Viejo.
Closest hotel to Coahuayana Viejo at 18.7333 , -103.6833 is Modelorama.
------------
Retrieving Results for Index 497: Khāsh.
Closest hotel to Khāsh at 28.2211 , 61.2158 is مدرسه دینی مخزن العلوم.
------------
Retrieving Results for Index 499: Tabas.
Closest hotel to Tabas at 33.5959 , 56.9244 is سازمان حمل و نقل همگانی.
------------
Retrieving Results for Index 501: Diu.
Closest hotel to Diu at 20.7141 , 70.9822 is Hotel Galaxy.
------------
Retrieving Results for Index 504: Vryburg.
Closest hotel to Vryburg at -26.9566 , 24.7284 is Vryburg - MAG MAR Guest house ****.
------------
Retrieving Results for Index 513: Ovalle.
Closest hotel to Ovalle at -30.5983 , -71.2003 is Isapre Consalud.
------------
Retrieving Results for Index 521: Dakoro.
Closest hotel to Dakoro at 14.5106 , 6.765 is مدرسة الهدى والنور (داكورو).
------------
Retrieving Results for Index 527: Kampong Thom.
Closest hotel to Kampong Thom at 12.7111 , 104.8887 is Sokchea Chantha Guest House.
------------
Retrieving Results for Index 535: Iquique.
Closest hotel to Iquique at -20.2208 , -70.1431 is Hotel Gavina Sens & Conference Center.
------------
Retrieving Results for Index 548: Panguipulli.
Missing field/result... skipping.
------------
Retrieving Results for Index 550: Tādepallegūdem.
Closest hotel to Tādepallegūdem at 16.8333 , 81.5 is GAIL Gas pipeline office.
------------

In [29]:
hotel_df.head()

            City Country      Lat      Lng
5         Najrān      SA  17.4924  44.1277
7   Constitución      CL -35.3333 -72.4167
47      Lüderitz     NaN -26.6481  15.1594
56          Lebu      CL -37.6167 -73.6500
58   Medininagar      IN  24.0333  84.0667

In [40]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations2 = hotel_df[["Lat", "Lng"]]

In [41]:
# Add marker layer ontop of heat map

# Display figure
fig = gmaps.figure(center=(48.0, 0.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=hum_rate1, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1, opacity=1)

marker_layer = gmaps.marker_layer(locations2, hover_text='', label='', info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
plt.savefig("Images/vacationheatmapwithhotels.png")

fig

Figure(layout=FigureLayout(height='420px'))